body {
    height:100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

header {
    font-size: 40px;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.main-content {
    display: flex;
    margin-right: 16rem;
    margin-bottom: 10rem;
}

.drawingBoard {
    display: grid;
    height: 600px;
    width: 600px;
    border: 1px solid black;
}

.slidecontainer{
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    padding: 2rem;
    gap: 1em;
}

.pen-colour{
    display: flex;
    align-items: center;
}

.background-colour {
    display: flex;
    align-items: center;
}

.grid-dimensions {
    display: flex;
}
